<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENTER TO GET EMAIL</title>
</head>
<body>
<h1>Fill the following blanks</h1>
<form action=""  method="POST">
    {% csrf_token %}
    <div>
       <label>name</label>
        <input type="text" name="name" placeholder="myname">
    </div>
    <br>
    <div>
        <label>message</label>
        <textarea name="info" placeholder="Message"></textarea>
    </div>
    <br>
    <div>
        <label>Emailid</label>
        <input type="email" name="id" placeholder="emailid">
    </div>
        <a href=""

</form>
</body>
</html>